/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ulitka-kit-ulitka-header {
	border: 1px dotted #f00;
	&.navigation-wrapper{
		left: 0;
		right: 0;
	}
}

.navigation-button-wrapper {
	position: relative;
	right: 0;top: 0%;
	transform: translate(0%, 0%);
	.button-image {
		max-width: 65px;
		height: auto;
		transform: translate(0%, 0%);
		opacity: 1;
		transition: all 0.6s;
	}
	.components-button.navigation-button {
		border-radius: 100%;
		display: block;
		position: relative;
		padding: 8px;
		border: 0;
		z-index: 10;
		margin: auto;
		cursor: pointer;
		&.active {
			.burger-line {
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(1) {
					transform: translateY(6px) rotate(45deg);
				}
				&:nth-child(3) {
					transform: translateY(-6px) rotate(-45deg);
				}
			}
		}
		.burger-line {
			display: block;
			height: 2px;
			width: 20px;
			margin: 4px auto;
			transition: all 0.3s;
		}
	}
}
