/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
body.no-scroll {
	overflow: hidden;
}
.navigation-outer-wrapper {
	position: fixed;
	height: fit-content;
	z-index: 9999;
	width: 0%;
	display: grid;
	transition: all 1s;
	right: 0%;
	&.open {
		width: 100%;
		.navigation-wrapper {
			animation: border-animation-reverse 2s forwards;
			

			ul {
				transform: translateX(0%);
				transition: all 1.5s;
			}
			li {
				opacity: 1;

				transition: all 1.5s;
			}
		}
	}
	@media (width <= 1023px) {
		height: 100dvh;
	}
}

.wp-block-ulitka-kit-ulitka-header {
	&.navigation-wrapper {
		display: grid;
		max-height: 80px;
		// justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		padding: 10px 30px;
		transition: all 1s;
		position: relative;

		@media (width <= 1023px) {
			// animation: none;
			
				max-height: 100%;
				height: 100%;
			
			.wp-block-navigation__container {
				flex-direction: column;
				gap: 20px;
			}
		}
		ul {
			transform: translateX(30%);
			transition: all 0.5s;
		}
		li {
			opacity: 0;
			transition: all 0.5s;
		}
		&.animated {
			animation: border-animation 1s forwards;
		}
	}
}
.navigation-button-wrapper {
	position: absolute;
	transition: all 1.2s;
	top: 25%;
	transform: translate(200%, 0%);
	right: 0;
	align-self: center;
	z-index: 10000;
	@media (width <= 1023px) {
		position: absolute;
		top: 0%;
		transform: translate(-50%, 50%);
		right: 0%;
	}

	&.on-scroll {
		transform: translate(-100%, 0%);
	}
	&.under-nav-wrapper {
		transform: translate(-100%, 0%);
		top: 100%;
		.navigation-button {
			border-radius: 0% 0% 100% 100%;
		}
	}
	.button-image {
		position: absolute;
		transform: translate(-40%, -93%);
		max-width: 65px;
		height: auto;
		z-index: -10;
		opacity: 1;
		transition: all 0.6s;
		&.hidden {
			opacity: 0;
		}
	}
}
.navigation-button {
	border-radius: 100%;
	display: block;
	position: relative;
	padding: 8px;
	border: 0;
	z-index: 10;
	margin: auto;
	cursor: pointer;
	transition: all 1.2s;
	&.active {
		.burger-line {
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(1) {
				transform: translateY(6px) rotate(45deg);
			}
			&:nth-child(3) {
				transform: translateY(-6px) rotate(-45deg);
			}
		}
	}
	.burger-line {
		display: block;
		height: 2px;
		width: 20px;
		margin: 4px auto;
		transition: all 0.3s;
	}
}

@keyframes border-animation {
	0% {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	100% {
		border-bottom-left-radius: 50px;
		border-top-left-radius: 50px;
	}
}
@keyframes border-animation-reverse {
	0% {
		border-bottom-left-radius: 50px;
		border-top-left-radius: 50px;
	}
	100% {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
}
