/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@mixin position-properties {
	position: absolute !important;
	z-index: 4;
	width: -moz-fit-content;
	width: fit-content;
}
.relative-block {
	position: relative;
	display: flex;
	width: fit-content;

	img {
		width: 100%;
		height: auto;
	}
	@media (max-width: 400px) {
		.has-h-base-font-size {
			font-size: 1.25rem !important;
		}
	}
}

.is-position {
	&-center-left {
		@include position-properties;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}

	&-center-right {
		@include position-properties;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}

	&-center-center {
		@include position-properties;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
	}

	&-top-right {
		@include position-properties;
		top: 0;
		transform: translateY(0);
		right: 0;
	}

	&-top-left {
		@include position-properties;
		top: 0;
		transform: translateY(0);
		left: 0;
	}

	&-top-center {
		@include position-properties;
		top: 0;
		transform: translate(-50%, 0%);
		left: 50%;
	}

	&-bottom-right {
		@include position-properties;
		bottom: 0;
		transform: translateX(50%);
		left: 50%;
	}

	&-bottom-left {
		@include position-properties;
		bottom: 0;
		transform: translateX(0);
		left: 0;
	}

	&-bottom-center {
		@include position-properties;
		bottom: 0;
		transform: translateX(-50%);
		left: 50%;
	}
}

.async-wrapper {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.async-wrapper.hx-swap-o {
	opacity: 0;
}

.async-wrapper.hx-swap {
	opacity: 1;
}
