@import "swiper/swiper-bundle.css";

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	--swiper-navigation-size: 44px;
	--swiper-navigation-top-offset: 90%;
	--swiper-navigation-sides-offset: 10px;
	--swiper-navigation-color: var(--wp--preset--color--ul-primary);

  --swiper-pagination-color: var(--wp--preset--color--ul-primary);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

	@media (width>1023px){

	--swiper-navigation-top-offset: 50%;
	}
}

.swiper-pagination-bullet-active{
  --swiper-pagination-color: var(--wp--preset--color--ul-primary);
}
.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 50%;
	position: absolute;
	transition: background 0.2s ease-in-out;
	&:hover,
	&:focus {
		background: rgba(0, 0, 0, 1);
	}
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 900;
	transform: translate(-50%, -50%);
	content: "";
}
.swiper-button-next::after {
	content: "⟩";
}
.swiper-button-prev::after {
	content: "⟨";
}

a{
	color: inherit;
}